
.info {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    padding: 0 15px;
    
    margin: 0  auto 50px;

    .buttonInfoContainer {
        width: 49%;
        
        
        .contentAbout {
            color: $color-3;
            font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
            height: 0px;
            overflow: hidden;
            transition: height 0.5s ease-in-out;
        }

        .contentAbout.active {
           height: 200px;
        }

        p {
            background-color: rgb(249, 247, 244);
            padding: 25px;
            width: 582px;

        }
        .listEquipments{
            padding: 25px;
            background-color: rgb(249, 247, 244);  
                div{
                    background-color: rgb(249, 247, 244);   
            }
        }
    }

    .buttonInfo {
        border-radius: 10px;
        border: none;

        height: 52px;
        background-color: $color-3;
        color: $color-2;
        text-align: left;
        font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrowIcon {
            background: transparent;
            transition: transform 0.4s ease-in-out;
        }

        .rotate180 {
            transform: rotate(180deg);

        }
    }


}