@import "../../assets/scss/settings";

.listTag {
    display: flex;
    
    .tag {
    padding: 0 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-3;
    border-radius: 10px;
    color: $color-2;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    margin-right: 10px;
}
}

