@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
  }

  $color-1:rgb(0,0,0);
  $color-2:rgb(255,255,255);
  $color-3:#ff6060;
  $color-4:#e5e5e5;
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background:$color-2;
  }

  body{
    font-family: Montserrat;
    
  }
   
  
  