main {
    position: relative;
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 15px;

    .gallery {

        .cardContainer {
            background: $color-4;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            row-gap: 58px;
            padding: 58px 0;
            margin: 43px 0;
            border-radius: 25px;

            @media screen and (max-width: 550px) {
            background-color: $color-2;
            padding: 20px 0;
            row-gap: 20px;
              }

            .dataContainer {
                border-radius: 10px;
            }

            .cardContent {
                position: relative;
                border-radius: 10px;
                margin: 5px;
                cursor: pointer;
                transition-duration: 0.2s;

                &:hover {
                    scale: 1.02;
                }
                a{
                    background: transparent;
                }

                img {
                    width: 340px;
                    height: 340px;
                    object-fit: cover;
                    border-radius: 10px;

                    @media screen and (max-width: 700px) {
                        width: 100%;
                          }

                }

                p {
                    position: absolute;
                    bottom: 0px;
                    padding-left: 10px;
                    background: rgba(55, 34, 34, 0.5);
                    color: $color-2;
                    font-size: 18px;
                    font-weight: 600;
                    width: 100%;
                    height: 50px;
                    border-radius: 0px 0px 10px 10px;
                    display: flex;
                    align-items: center;

                }
            }

        }
    }

    .banner {
        position: relative;
        border-radius: 25px;

        img {
            width: 100%;
            height: calc(110px + (223 - 110) * ((100vw - 320px) / (1920 - 320)));
            object-fit: cover;
            border-radius: 25px;
            filter: brightness(50%);

        }

        .banner-title {
            font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320))); 
            text-align: left;
            padding-left: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: flex;
            justify-content: center;
            color: $color-2;
            text-shadow:
                1px 1px 0 #000,
                -1px 1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
            background-color: transparent;

        }
    }

    .collapseContainer {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;

        .collapseContent {
            margin: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))) 0;
            .contentAbout{
                
                color: $color-3;
                font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
                max-height: 0;
                transition: 0.4s;
                overflow: hidden;
                padding-left: 25px;
                padding-right: 25px;
            }
            .contentAbout.active {
            max-height: 150px;
            background-color: rgb(249, 247, 244);
            padding-top: 35px;
            padding-bottom: 35px;
}
        }

        button.buttonCollapse {
            background-color: $color-3;
            border: none;
            width: 100%;
            color: $color-2;
            border-radius: 5px;
            font-size: calc(13px + (24 - 13) * ((100vw - 320px) / (1920 - 320)));
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px 10px 15px;
            cursor: pointer;
            .arrowIcon {
                background: transparent;
                transition: transform 0.4s ease-in-out;
            }
        }
    }

    .rotate180 {
        transform: rotate(180deg);
    }
}
