@import "../../assets/scss/settings";

.gallery {

    .cardContainer {
        background: $color-4;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        row-gap: 58px;
        padding: 58px 0;
        margin: 43px 0;
        border-radius: 25px;

        @media screen and (max-width: 550px) {
        background-color: $color-2;
        padding: 20px 0;
        row-gap: 20px;
        margin:0;
          }

        .dataContainer {
            border-radius: 10px;
        }

        .cardContent {
            position: relative;
            border-radius: 10px;
            margin: 5px;
            cursor: pointer;
            transition-duration: 0.2s;

            &:hover {
                scale: 1.02;
            }
            a{
                background: transparent;
            }

            img {
                width: 340px;
                height: 340px;
                object-fit: cover;
                border-radius: 10px;

                @media screen and (max-width: 500px) {
                width: 300px;
                height: 300px;
                      }

            }

            p {
                position: absolute;
                bottom: 0px;
                padding-left: 10px;
                background: rgba(55, 34, 34, 0.5);
                color: $color-2;
                font-size: 18px;
                font-weight: 600;
                width: 100%;
                height: 50px;
                border-radius: 0px 0px 10px 10px;
                display: flex;
                align-items: center;

            }
        }

    }
}