.navigation{
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 45px 15px;
    @media screen and (max-width:550px){
        padding: 25px 15px;
        }
    img{
       width: 210px;
       height: 68px; 
@media screen and (max-width:550px){
        width: 135px;
        height: 47px;
        
        }

    }
    
    ul{ 
        display: flex;
        width: 260px;
        justify-content: space-between;
        @media screen and (max-width:550px){
            width: 150px;
            
            }
        li{
            color:$color-1;
        }
    }
    .nav-active{
        position: relative;

        &::after{
            content: "";
            border: 1px;
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: $color-1;
            bottom: 0px;
            

        }
    }
    
}