@import "../../assets/scss/settings";

.logementDetails {
    max-width: 1240px;
    margin: 30px auto 20px;
    padding: 0 15px;
    @media screen and (max-width:650px){
        margin: 10px auto 0px;
        
        }

    .logementInfo {
        display: grid;
        grid-template-columns: 70% 30%;

        @media screen and (max-width:650px){
            display: block;
            
            }

        h1 {
            font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
            color: $color-3;
            font-weight: 500;
        }

        p {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            padding: 10px 0;
        }

        .logementName {
            display: flex;
            flex-direction: column;

            // .listTag {
            //     display: flex;
            // }

            // .tag {
            //     padding: 0 20px;
            //     height: 25px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     background-color: $color-3;
            //     border-radius: 10px;
            //     color: $color-2;
            //     font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
            //     font-weight: 700;
            //     margin-right: 10px;
            // }
        }

        .host {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @media screen and (max-width:650px){
                align-items: center;
                flex-direction: row-reverse;
                justify-content: space-between;
                }
            

            .hostName {
                display: flex;
                align-items: center;
                p {
                    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
                    color: $color-3;
                    font-weight: 500;
                    width: 100px;
                    line-height: 20px;
                    text-align: right;
                    padding-right: 20px;
                }


                .pictureHost {
                    border-radius: 50%;
                    width: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
                    
                }
            }

            .stars {
                padding-top: 10px;

                img {
                    padding: 5px;
                    width: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
                }
            }
        }

    }
}

