@import '../../assets/scss/settings';

section{
    max-width: 1240px;
    margin: 40px auto;
    color:$color-3;
    text-align: center;
    h1{
        font-size: calc(96px + (288 - 96) * ((100vw - 320px) / (1920 - 320)));
        
        
    }
    h2{
        font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 30px;
    }
    a{
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        color: $color-1;
        text-decoration: underline;
    }
}